
body {
    font-family: "Orbitron", sans-serif;
    text-align: center;
    background-color: #2d1b0f; 
    color: #ff8c42; 
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border: 2px solid #ff4500; 
    background: rgba(43, 24, 14, 0.95); 
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(255, 69, 0, 0.7);
}


#photoGallery {
    background: rgba(61, 34, 19, 0.95); 
    border-radius: 12px;
    padding: 12px;
    text-align: center;
    max-width: 90%;
    margin: 15px auto;
    border: 2px solid #ff8c42; 
    box-shadow: 0px 0px 15px rgba(255, 69, 0, 0.6);
    animation: fadeIn 0.5s ease-in-out;
}


#mars-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 10px;
}


.photo-container {
    background: rgba(50, 20, 10, 0.8);
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #ff4500;
    box-shadow: 0px 0px 12px rgba(255, 140, 66, 0.8);
    text-align: center;
    max-width: 250px;
}


.mars-photo {
    width: 100%;
    border: 3px solid #ff4500;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(255, 140, 66, 0.8);
    transition: transform 0.3s ease-in-out;
}

.mars-photo:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px yellow;
}


.photo-container p {
    font-size: 14px;
    color: #ffcc99;
    margin-top: 8px;
    text-align: left;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
